.guide-subheader {
    width: 100%;
    height: 475px;
    background: #ffffff;
    padding-top: 50px;
    margin-bottom: 100px;
}

.guide-subheader h1 {
    font-size: 28px;
    line-height: 37px;
    font-family: 'Proxima Nova Bo', sans-serif;
    margin-bottom: 10px;
}

.guide-subheader p {
    color: rgba(2, 48, 71, 1);
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 50px;
}

.guide-category-box {
    background: #fff;
    box-shadow: 0 3px 22px rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 105px;
    justify-content: center;
    padding: 15px;
    text-align: center;
    transition: all .25s;
    border: 1px solid rgba(2, 48, 71, .2);
    margin-left: 1px;
    position: relative;
}

.guide-category-box .icon {
    width: 35px;
    height: 35px;
    fill: #023047;
    margin-bottom: 15px;
    transition: all .3s;
}

.guide-category-box h6 {
    color: #023047;
}

.guide-category-box:before,
.guide-category-box:after {
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    width: 100%;
    background: #FCBF49;
    opacity: 0;
    transition: all .3s;
}

.guide-category-box:before {
    top: 0;
}

.guide-category-box:after {
    bottom: 0;
}

.guide-category-box:hover:before,
.guide-category-box:hover:after {
    opacity: 1;
}

.guide-category-box:hover .icon {
    fill: #FCBF49;
}

.guide-input-wrapper {
    position: relative;
    display: flex;
    height: 56px;
    cursor: pointer;
}

.guide-input-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-left: 20px;
    background: #FFFFFF;
    appearance: none;
    color: rgba(2, 48, 71, .5);
    font-size: 14px;
    line-height: 19px;
    transition: all .3s;
    border: 1px solid rgba(2, 48, 71, .2);
}

.guide-input-wrapper input:focus,
.guide-input-wrapper select:focus {
    color: rgba(2, 48, 71, 1);
    box-shadow: 0 3px 22px rgba(0, 0, 0, 0.09);
}

.guide-main-form .main-button {
    min-width: 155px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    justify-content: center;
    cursor: pointer;
    height: 100% !important;
}

.guide-main-form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.owl-carousel-guide-categories {
    height: 105px;
}

.owl-carousel-guide-categories .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 106%;
    left: -3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
}

.owl-carousel-guide-categories .owl-nav .icon {
    width: 14px;
    max-height: 25px;
}

.owl-carousel-guide-categories .owl-nav .owl-prev .icon {
    transform: rotate(180deg);
    transition: all .3s;
}

.owl-carousel-guide-categories .owl-nav button:hover .icon {
    fill: #FCBF49;
}

.guide-subtitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.guide-subtitle h6 {
    color: rgba(2, 48, 71, .5);
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
}

.guide-subtitle h4 {
    font-family: 'Proxima Nova Bo', sans-serif;
    color: #023047;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
}

.guide-subtitle .border {
    width: 85px;
    background: #FCBF49;
    height: 1px;
    border: 0 !important;
}

.guide-page-content {
    width: 100%;
}

.guide-slider {
    width: 100%;
}

.guide-slider-nav {
    border: 1px solid rgba(2, 48, 71, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all .3s;
    cursor: pointer;
    position: absolute;
    top: -60px;
}

.guide-slider-nav.next {
    right: 0;
}

.guide-slider-nav.prev {
    right: 51px;
}

.guide-slider-nav.prev svg {
    transform: rotate(180deg);
}

.guide-slider-nav svg {
    fill: rgba(2, 48, 71, .3);
    width: 8px;
    max-height: 15px;
    transition: all .3s;
}

.guide-slider-nav:hover {
    border-color: #fff;
    background: #FCBF49;
}

.guide-slider-nav:hover svg {
    fill: #023047;
}

.guide-slider-nav {
}

.guide-slide-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    transition: all .3s;
}

.guide-slide-box:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 22px rgba(0, 0, 0, .1);
}

.guide-slide-box .mask {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, transparent 0%, rgba(2, 0, 16, .56) 99%);
}

.guide-slide-box .img-wrapper {
    height: 310px;
    position: relative;
    width: 100%;
}

.guide-slide-box.square .img-wrapper {
    height: 210px;
}

.guide-slide-box .img-wrapper img {
    height: 310px;
    position: relative;
    z-index: 1;
    width: 100%;
    object-fit: cover;
}

.guide-slide-box.square .img-wrapper img {
    height: 210px;
}

.guide-slide-box .img-wrapper .icons {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.guide-slide-box .img-wrapper .icons .icon-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid #ffffff;
}

.guide-slide-box .img-wrapper .icons .icon-wrapper:hover {
    background: #FCBF49;
}

.guide-slide-box .img-wrapper .icons .icon-wrapper .icon {
    width: 21px;
    max-height: 24px;
}

.guide-slide-box .img-wrapper .title {
    position: absolute;
    z-index: 2;
    left: 10px;
    bottom: 10px;
}

.guide-slide-box .img-wrapper .title h4 {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    font-family: 'Proxima Nova Bo', sans-serif;
}

.guide-slide-box .text {
    background: #ffffff;
    padding: 10px 17px 8px 10px;
}

.guide-slide-box .text p {
    font-size: 14px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.guide-slide-box .text h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 3px;
}

.guide-slide-box .text h6 {
    font-size: 13px;
    line-height: 19px;
    color: rgba(2, 48, 71, .5);
}

.guide-slide-box .bottom {
    margin: 0 -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guide-slide-box .bottom .bottom-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 8px 10px;
    background: #ffffff;
    margin: 5px 5px 0;
}

.guide-slide-box .bottom .bottom-box .icon {
    width: 19px;
    max-height: 20px;
    fill: #023047;
}

.guide-slide-box .bottom .bottom-box h6 {
    font-size: 14px;
    line-height: 19px;
}
