.news .h-dropdown-content a {
    padding: 5px 10px;
    color: #001C1D;
    position: relative;
    padding-left: 25px;
    transition: all .3s;
}

.news .h-dropdown-content a:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(2, 48, 71, .2);
}

.news .h-dropdown-content a:hover:before {
    background: #E63946;
}

.news .header-main-right {
    min-width: 30%;
    max-width: 30%;
    width: 30%;
}

.news .header-main-right li {
    width: 100%;
}

.last-minute-news {
    height: 34px;
    background: #fff;
}

.last-minute-news .title {
    width: 132px;
    height: 34px;
    background: #E63946;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 132px;
}

.last-minute-news .title h4 {
    font-size: 16px;
    color: #fff;
}

.last-new-slide {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-right: 60px;
    overflow: hidden;
}

.last-new-slide h6 {
    margin: 0 20px;
    font-size: 14px;
    font-family: 'Proxima Nova Bo', sans-serif;
    line-height: 34px;
}

.last-new-slide p {
    font-size: 14px;
    line-height: 34px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-box-type-1 {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 22px rgba(0, 0, 0, .05);
    position: relative;
    transition: all .3s;
}

.news-box-type-1:hover {
    box-shadow: 0 3px 22px rgba(0, 0, 0, .3);
}

.news-box-type-1:hover .text p,
.news-box-type-1:hover .text span {
    color: #fff;
}

.news-box-type-1 .badgee {
    background: #F8F8F8;
    height: 36px;
    padding: 0 10px;
    font-size: 18px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #023047;
}


.news-box-type-1 .bg-mask {
    background: linear-gradient(360deg, rgba(2, 48, 71, .85) 0%, transparent 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 2;
}

.news-box-type-1 .text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    z-index: 3;
}

.news-box-type-1 .text h2 {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-box-type-1 .text p {
    margin: 7px 0;
}

.news-box-type-1 .text p,
.news-box-type-1 .text span {
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, .5);
    transition: all .3s;
}

.news-box-type-1 .text span {
    margin-right: 10px;
}

.news-box-type-1.sm .text h2 {
    font-size: 18px;
    line-height: 22px;
}

.news-subtitle {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 17px;
    box-shadow: inset 14px 0 0 -7px #E63946;
    margin-bottom: 30px;
}

.news-subtitle h4 {
    font-family: 'Proxima Nova Bo', sans-serif;
    font-size: 18px;
    line-height: 28px;
}

.news-subtitle a {
    font-size: 14px;
    line-height: 28px;
    color: #023047;
    transition: all .3s;
}

.news-subtitle a:hover {
    color: #E63946;
}

.news-page-content {
    width: 100%;
}

.news-box-type-2 {
    display: flex;
    flex-direction: column;
}

.news-box-type-2 .img-wrapper {
    position: relative;
    margin-bottom: 20px;
    transition: all .3s;
}

.news-box-type-2 .badgee {
    background: #F8F8F8;
    height: 27px;
    padding: 0 10px;
    font-size: 14px;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #023047;
}

.news-box-type-2 .text h2 {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Proxima Nova Sb', sans-serif;
    color: #023047;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.news-box-type-2.big .text h2 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 7px;
}

.news-box-type-2 .text .date {
    display: flex;
    align-items: center;
}

.news-box-type-2 .text .date span {
    font-size: 14px;
    line-height: 28px;
    color: rgba(2, 48, 71, .5);
}

.news-box-type-2.big .text span {
    font-size: 14px;
    line-height: 28px;
    margin-right: 6px;
}

.news-box-type-2.big p {
    color: rgba(2, 48, 71, .5);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
    overflow: hidden;
}

.news-box-type-2:hover .img-wrapper {
    box-shadow: 0 3px 22px rgba(0, 0, 0, .2);
}

.news-box-horizontal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition: all .3s;
}

.news-box-horizontal:hover img {
    box-shadow: 0 3px 22px rgba(0, 0, 0, .2);
}

.news-box-horizontal:last-child {
    margin-bottom: 0;
}

.news-box-horizontal.big img {
    width: 97px;
    height: 90px;
    margin-right: 10px;
}

.news-box-horizontal.big .text {
    height: 90px;
}

.news-box-horizontal.big h6 {
    color: #023047;
    font-size: 12px;
    line-height: 28px;
}

.news-box-horizontal.big h2 {
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #023047;
    overflow: hidden;
    font-family: 'Proxima Nova Sb', sans-serif;
}

.news-box-horizontal.big span {
    font-size: 14px;
    line-height: 28px;
    margin-right: 6px;
    color: rgba(2, 48, 71, .5);
}

.sports-tabset .nav-link {
    padding: 0 20px;
    font-size: 14px;
    color: #023047;
    line-height: 28px;
    position: relative;
}

.sports-tabset .nav-link.active {
    background: transparent;
    color: #023047;
}

.sports-tabset .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 0;
    height: 2px;
    background: #E63946;
    transition: all .3s;
}

.sports-tabset .nav-link:hover:after,
.sports-tabset .nav-link.active:after {
    width: 29px;
}

.red-wrapper {
    background: #E63946;
    padding: 20px;
}

.red-wrapper .news-subtitle h4 {
    color: #fff;
}

.red-wrapper .news-subtitle {
    box-shadow: inset 14px 0 0 -7px #fff;
}

.red-wrapper .sports-tabset .nav-link {
    color: #fff;
}

.red-wrapper .sports-tabset .nav-link:after {
    background: #fff;
}

.red-wrapper .news-box-horizontal.big h6,
.red-wrapper .news-box-horizontal.big h2,
.red-wrapper .news-box-type-2 .text h2 {
    color: #fff;
}

.red-wrapper .news-box-horizontal.big .text span,
.red-wrapper .news-box-type-2.big .text span,
.red-wrapper .news-box-type-2.big p {
    color: rgba(255, 255, 255, .5);
}

.red-wrapper .news-box-type-2 .badgee {
    background: #E63946;
    color: #fff;
}

.news-slider {
    width: 100%;
    padding: 0 20px;
}

.news-slider .slider-news-item {
    padding: 10px;
    max-height: 315px;
}

.news-slider .slider-news-item img {
    height: 100%;
}

.banner-box {
    width: 100%;
    height: 250px;
}

#side-tab {
    margin: 0 -5px;
    margin-bottom: 20px !important;
    width: calc(100% + 10px);
    flex-wrap: nowrap;
}

#side-tab .nav-item {
    margin: 5px;
    white-space: nowrap;
}

#side-tab .nav-link {
    padding: 10px;
    background: #fff;
    font-size: 14px;
    color: #023047;
    transition: all .3s;
    border-radius: 0;
}

#side-tab .nav-link:hover,
#side-tab .nav-link.active {
    background: #E63946;
    color: #ffffff;
    font-family: 'Proxima Nova Bo', sans-serif;
}

@media only screen and (max-width: 992px) {
    .news .header-main-right {
        min-width: 80%;
        max-width: 80%;
        width: 80%;
    }
}


