.ads-sidemenu .icon-wrapper {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.ads-sidemenu .icon-wrapper.w-radius {
    border-radius: 0 0 5px 0;
}

.ads-sidemenu .icon-wrapper.red {
    background: #EF233C;
}

.ads-sidemenu .icon-wrapper.yellow {
    background: #FFBB00;
}

.ads-sidemenu .icon-wrapper.darkblue {
    background: #4866FC;
}

.ads-sidemenu .icon-wrapper.green {
    background: #10C40A;
}

.ads-sidemenu .icon-wrapper.orange {
    background: #F24B04;
}

.ads-sidemenu .icon-wrapper.purple {
    background: #D1105A;
}

.ads-sidemenu .icon-wrapper.orange-2 {
    background: #FF930A;
}

.ads-sidemenu .icon-wrapper.blue {
    background: #2CAFF3;
}

.ads-sidemenu .icon-wrapper.purple-2 {
    background: #6F2DBD;
}

.ads-sidemenu .icon-wrapper.red-2 {
    background: #EF2D56;
}

.ads-sidemenu .icon-wrapper.pink-2 {
    background: #F20089;
}

.ads-sidemenu .icon-wrapper.red-3 {
    background: #FF5D5D;
}

.ads-sidemenu .icon-wrapper .icon {
    width: 13px;
    height: 13px;
    fill: #FFFFFF;
}

.ads-sidemenu-top li {
    height: 26px;
    margin-bottom: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #023047;
    transition: all .35s;
}

.ads-sidemenu-top li:hover {
    color: #4866FC;
}

.ads-sidemenu-top li:last-child {
    margin-bottom: 0;
}

.ads-sidemenu-box {
    background: #FFFFFF;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all .4s;
}

.ads-sidemenu-header {
    display: flex;
    align-items: center;
    position: relative;
    height: 26px;
    font-size: 14px;
    font-family: 'Proxima Nova Bo', sans-serif;
}

.ads-sidemenu-header span {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(2, 48, 71, .4);
    font-size: 10px;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.ads-sidemenu-content {
    padding: 12px;
}

.ads-sidemenu-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    padding-right: 30px;
    transition: all .3s;
}

.ads-sidemenu-toggler span {
    color: rgba(2, 48, 71, .4);
    font-size: 11px;
    font-family: 'Proxima Nova Rg', sans-serif;
    transition: all .3s;
}

.ads-sidemenu-toggler:hover {
    color: #4866FC;
}

.ads-sidemenu-toggler:hover span {
    color: rgba(2, 48, 71, 1);
}

.ads-sidemenu-toggler .icon {
    width: 8px;
    height: 8px;
    fill: rgba(2, 48, 71, .4);
    position: absolute;
    right: 8px;
    top: 50%;
    transition: all .4s;
    transform: translateY(-50%);
}

.ads-sidemenu-toggler:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 0;
    transition: all .6s;
    background: rgba(2, 48, 71, .1);
}

.ads-sidemenu-toggler.showAll {
    color: #4866FC;
}

.ads-sidemenu-toggler.showAll:after {
    content: none;
}

.ads-sidemenu-toggler[aria-expanded='true']:after {
    width: 100%;
}

.ads-sidemenu-toggler[aria-expanded='true'] .icon {
    fill: rgba(2, 48, 71, 1);
    transform: translateY(-50%) rotate(-180deg);
}

.ads-sidemenu-toggler[aria-expanded='true'] span {
    color: rgba(2, 48, 71, 1);
}

.ads-sidemenu-content .ads-submenu li {
    font-size: 12px;
    font-family: 'Proxima Nova Rg', sans-serif;
    line-height: 30px;
    padding-left: 10px;
}


.ads-sm-box-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.ads-sm-box-list .ads-sm-box {
    width: calc(100% / 5 - 20px);
    background: #FFFFFF;
    transition: all .3s;
    cursor: pointer;
    margin: 10px;
}

.ads-sm-box-list .ads-sm-box:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}

.ads-sm-box-list .ads-sm-box img {
    height: 107px;
}

.ads-sm-box-list .ads-sm-box .text {
    padding: 3px 7px 3px 5px;
}

.ads-sm-box-list .ads-sm-box .text h4,
.ads-sm-box-list .ads-sm-box .text .bottom {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.ads-sm-box-list .ads-sm-box .text .place {
    font-family: 'Proxima Nova Bo', sans-serif;
    font-size: 10px;
    line-height: 14px;
}

.ads-sm-box-list .ads-sm-box .text .place .icon {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    fill: #4866FC;
}

.ads-sm-box-list .ads-sm-box .text .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.ads-sm-box-list .ads-sm-box .text .bottom .icon {
    width: 10px;
    height: 10px;
    fill: #F80044;
}

.ads-brands-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.ads-brands-list .ads-brand {
    width: calc(100% / 8 - 20px);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s;
}

.ads-brands-list .ads-brand:hover {
    transform: scale(1.005);
    transform-origin: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}

.ads-banner {
    background: #FFFFFF;
    height: 212px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .25s;
    margin-bottom: 20px;
}

.ads-banner:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}

.ads-banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    max-width: 43%;
}

.ads-banner-image {
    max-width: 57%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ads-banner h1 {
    font-size: 20px;
    line-height: 21px;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.ads-banner h1 b {
    font-family: 'Proxima Nova Bo', sans-serif;
    color: #4866FC;
}

.ads-banner .purple-line {
    background: #4866FC;
    height: 4px;
    width: 75px;
    margin: 13px 0;
    border-radius: 2px;
}

.ads-banner p {
    font-size: 12px;
    line-height: 17px;
}

.ads-banner a {
    color: rgba(2, 48, 71, .4);
    font-size: 12px;
    line-height: 17px;
    transition: all .3s;
    margin-top: 30px;
}

.ads-banner a:hover {
    color: rgba(2, 48, 71, 1);
}

@media only screen and (max-width: 1200px) {
    .ads-sm-box-list .ads-sm-box {
        width: calc(100% / 4 - 20px);
    }

}

@media only screen and (max-width: 768px) {
    .ads-sm-box-list .ads-sm-box {
        width: calc(100% / 2 - 20px);
    }

    .ads-brands-list .ads-brand {
        width: calc(100% / 4 - 20px);
    }
}
