/** IMPORTS **/
@import "../fonts/fonts.css";
@import "header.css";
@import "footer.css";
@import "add-form.css";

/** Rent a car css files **/
@import "rent-a-car/home.css";
@import "rent-a-car/choose-car.css";
@import "rent-a-car/car-payment.css";
@import "rent-a-car/company-profile.css";

/** Company css files **/
@import "company/index.css";
@import "company/company-list.css";
@import "company/company-map.css";
@import "company/company-details.css";

/** Ads css files **/
@import "ads/index.css";
@import "ads/car-table.css";

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0081A7;
}

.purple ::-webkit-scrollbar {
    width: 5px;
}

.purple ::-webkit-scrollbar-track {
    background: transparent;
}

.purple ::-webkit-scrollbar-thumb {
    background: #3F52E3;
}

body {
    font-family: 'Proxima Nova Rg', sans-serif !important;
    color: #023047;
    background: #FFFFFF;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
a:focus,
button:focus {
    box-shadow: none;
    outline: 0;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.vertical {
    display: flex;
    flex-direction: column;
}

ul.horizontal {
    display: flex;
    flex-direction: row;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

button:active,
.main-button:active {
    animation: bounceIn 1s;
    transform: scale3d(0.9, 0.9, 0.9);
}


.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px;
}

.fs-26 {
    font-size: 26px;
}

.fs-27 {
    font-size: 27px;
}

.fs-28 {
    font-size: 28px;
}

.fs-29 {
    font-size: 29px;
}

.fs-30 {
    font-size: 30px;
}

.fs-37 {
    font-size: 37px;
}

.lh-14 {
    line-height: 14px;
}

.lh-16 {
    line-height: 16px;
}

.lh-19 {
    line-height: 19px;
}

.lh-21 {
    line-height: 21px;
}

.lh-23 {
    line-height: 23px;
}

.lh-27 {
    line-height: 27px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-33 {
    line-height: 33px;
}

.lh-49 {
    line-height: 49px;
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.f-regular {
    font-family: 'Proxima Nova Rg', sans-serif;
}

.f-light {
    font-family: 'Proxima Nova Lt', sans-serif;
}

.f-thin {
    font-family: 'Proxima Nova Th', sans-serif;
}

.f-semibold {
    font-family: 'Proxima Nova Sb', sans-serif;
}

.f-extrabold {
    font-family: 'Proxima Nova Eb', sans-serif;
}

.f-bold {
    font-family: 'Proxima Nova Bo', sans-serif;
}

.f-black {
    font-family: 'Proxima Nova Bl', sans-serif;
}

.color-white {
    color: #ffffff;
}

.color-white:hover {
    color: #ffffff;
}

.color-black {
    color: #011627;
}

.color-dark {
    color: #023047 !important;
}

.color-dark:hover {
    color: #023047;
}

.color-light {
    color: rgba(2, 48, 71, .5)
}

.color-lightwhite {
    color: rgba(255, 255, 255, .5);
}

.color-blue {
    color: #0081A7;
}

.color-blue:hover {
    color: #0081A7;
}

.color-blue2 {
    color: #007BFF;
}

.color-blue2:hover {
    color: #007BFF;
}

.color-red {
    color: #F3031B;
}

.color-lightgreen {
    color: #A0A038;
}

.bg-blue {
    background: #0081A7;
}

.bg-green {
    background: #06B440;
}

.bg-darkblue {
    background: #023047;
}

.bg-light {
    background: #FAFAFA !important;
}

.bg-light-2 {
    background: #F8F9FA;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.py-40 {
    padding: 40px 0;
}

.py-50 {
    padding: 50px 0;
}

.pt-30 {
    padding-top: 30px;
}

.mb-5p {
    margin-bottom: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-13 {
    margin-bottom: 13px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-46 {
    margin-top: 46px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 120px;
}

.mr-5p {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.page-wrapper {
    margin-top: 94px;
}

.white-box {
    background: #FFFFFF;
    box-shadow: 0 3px 22px rgba(0, 0, 0, .05);
    padding: 22px;
    transition: all .25s;
}

.white-box:hover {
    box-shadow: 0 3px 22px rgba(0, 0, 0, .3);
}

.white-box-md {
    border: 1px solid rgba(2, 48, 71, .1);
    padding: 16px 0;
    background: #FFFFFF;
}

.white-box-md.bg-blue {
    border-color: #0081A7;
    background: #0081A7;
}

.white-box-md h4 {
    font-size: 16px;
    line-height: 21px;
    font-family: 'Proxima Nova Bo', sans-serif;
    margin-bottom: 20px;
    color: #0081A7;
    margin-left: 16px;
}

.white-box-md p {
    font-size: 12px;
    line-height: 19px;
    color: #011627;
    margin-left: 16px;
}

.white-box-md.bg-blue h4,
.white-box-md.bg-blue p {
    color: #FFFFFF;
}

.white-box-md .white-box-row {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.white-box-md .white-box-row .icon {
    width: 19px;
    height: 19px;
    fill: #0081A7;
}

.white-box-md .white-box-row:last-child {
    margin-bottom: 13px;
}

.white-box-md .table thead th {
    border-top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .22);
    font-size: 12px;
    color: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Proxima Nova Eb', sans-serif;
}

.white-box-md .table td {
    font-size: 12px;
    color: #FFFFFF;
    padding: 7px 20px;
    border: 1px solid rgba(255, 255, 255, .22);
    border-left: 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    text-align: center;
}

.white-box-md .table tr td:first-child {
    text-align: left;
}

.white-box-md .table tr td:last-child {
    border-right: 0;
}

.white-box-md .table .icon {
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
}

.white-box-md .table .icon.green {
    fill: #06B440;
}

.white-box-sm-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.white-box-sm {
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 14px;
    border: 1px solid rgba(2, 48, 71, .1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 30px;
    width: calc(100% / 6 - 30px);
    cursor: pointer;
    transition: all .25s;
}

.white-box-sm:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.bordered-box {
    border: 1px solid rgba(2, 48, 71, .1);
    padding: 11px 15px;
}

.custom-selectbox {
    position: relative;
    cursor: pointer;
}

.custom-selectbox .custom-select-toggler {
    border: 1px solid rgba(2, 48, 71, .1);
    display: flex;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    height: 34px;
    position: relative;
    padding: 10px 50px 10px 10px;
}

.custom-selectbox .custom-select-toggler.borderless {
    border: 0;
    border-bottom: 1px solid rgba(2, 48, 71, .1);
}

.main-form .custom-selectbox .custom-select-menu {
    margin-top: 0;
}

.main-form .custom-input {
    display: flex;
    align-items: center;
    height: 34px;
    position: relative;
}

.main-form .custom-input .icon {
    margin-left: 8px;
}

.custom-input input::-webkit-input-placeholder {
    color: #023047;
}

.custom-selectbox .custom-select-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-form .form-button .icon {
    position: absolute;
    left: 30px;
}

.custom-selectbox .custom-select-menu .menu {
    padding: 0;
    border: 1px solid rgba(2, 48, 71, .1);
}

.custom-selectbox .custom-select-menu-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
    height: 34px;
    padding: 0 10px;
}


.currency-select.custom-selectbox .custom-select-toggler .icon,
.currency-select.custom-selectbox .custom-select-menu .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #023047;
}

.custom-select-toggler {
    position: relative;
    border: 0;
    border-bottom: 1px solid rgba(2, 48, 71, .1);
    border-radius: 0;
}

.custom-input .icon,
.custom-select-toggler .icon,
.main-form .datetimepicker .icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: #023047;
}

.main-form .datetimepicker .icon {
    margin-left: 10px;
}

.main-form .datetimepicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-form .custom-checkbox {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
}

.custom-select-menu {
    position: absolute;
    width: 100%;
    z-index: 9;
    background: #FFFFFF;
    margin: 0;
}


.custom-selectbox .custom-select-menu-item:hover {
    background: #023047;
    color: #FFFFFF;
}

.custom-selectbox .custom-select-menu-item:hover .icon {
    fill: #fff;
}

.main-form .datetimepicker .icon.arrow,
.custom-selectbox .custom-select-toggler .icon.arrow {
    width: 8px;
    height: 8px;
    margin: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 4px);
    fill: #023047;
}

.custom-selectbox .custom-select-menu.open {
    max-height: 1000px;
    transition: max-height .5s;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox input {
    border: 2px solid #023047;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.custom-checkbox label {
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}

.search-input {
    position: relative;
    width: 100%;
}

.search-input input {
    border: 1px solid rgba(2, 48, 71, .1);
    height: 30px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 30px;
    width: 100%;
}

.search-input input:focus {
    border-color: rgba(2, 48, 71, .4);
}

.search-input input + .icon {
    width: 13px;
    height: 13px;
    stroke: rgba(2, 48, 71, 1);
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.search-input input:focus + .icon {
    stroke: #4866FC;
}

.form-button {
    font-size: 15px;
    color: #FFFFFF;
    height: 36px;
    width: 100%;
    border: 0;
    position: relative;
    transition: all .25s;
}

.form-button b {
    font-family: 'Proxima Nova Bo', sans-serif;
}

.form-button.big {
    height: 51px;
}

.form-button.md {
    height: 45px;
}

.form-button.big .icon {
    width: 23px;
    height: 23px;
    fill: #FFFFFF;
    margin-right: 5px;
}

.form-button.md .icon {
    width: 17px;
    height: 17px;
    fill: #FFFFFF;
    margin-right: 5px;
}

.form-button.bg-blue .icon {
    fill: #FFFFFF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.form-button.bg-dark {
    background: #023047;
}

.form-button.bg-blue2 {
    background: #007BFF;
}

.form-button.bg-purple {
    background: #4866FC;
}

.form-button:focus {
    box-shadow: none;
    outline: 0;
}

.form-button:hover {
    opacity: .9;
}

.empty-button {
    background: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
}

.empty-button:focus {
    box-shadow: none;
    outline: 0;
}

.feature-button {
    border: 1px solid #023047;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.feature-button .icon {
    width: 16px;
    height: 16px;
    fill: #023047;
}

.feature-button:hover {
    background: #0081A7;
    border-color: #0081A7;
}

.feature-button:hover .icon {
    fill: #FFFFFF;
}

.feature-button.blue {
    background: #0081A7;
    border-color: #0081A7;
}

.feature-button.white .icon,
.feature-button.blue .icon {
    fill: #FFFFFF;
}

.feature-button.white {
    background: transparent;
    border-color: #FFFFFF;
}

.feature-button.white:hover {
    background: #0081A7;
    border-color: #0081A7;
}

.main-button {
    border: 1px solid;
    height: 32px;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    line-height: 15px;
    transition: all .25s;
    white-space: nowrap;
}

.main-button:hover {
    text-decoration: none;
}

.main-button .icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    transition: all .3s;
}

.main-button .icon.arrow {
    width: 5px;
    height: 5px;
    stroke: #023047;
    margin-left: 5px;
}

.main-button.animated-icon:hover .icon {
    transform: rotate(180deg);
}

.main-button.white {
    color: #023047;
    border-color: rgba(2, 48, 71, .1);
    background: #FFFFFF;
}

.main-button.white .icon {
    fill: #023047;
}

.main-button.white:hover {
    background: rgba(2, 48, 71, .1);
}

.main-button.white.blue-bordered {
    border-color: #0081A7;
}

.main-button.white.blue-bordered:hover {
    background: #0081A7;
    color: #FFFFFF;
}

.main-button.dark {
    color: #FFFFFF;
    border-color: #023047;
    background: #023047;
}

.main-button.dark .icon {
    fill: #FFFFFF;
}

.main-button.dark:hover {
    background: #011d2b;
}

.main-button.blue {
    color: #FFFFFF;
    border-color: #007BFF;
    background: #007BFF;
}

.main-button.blue .icon {
    fill: #FFFFFF;
}

.main-button.blue:hover {
    background: #066ddc;
}

.main-button.purple {
    background: #4866FC;
    border-color: #4866FC;
    color: #FFFFFF;
}

.main-button.purple:hover {
    background: #5b75fb;
    border-color: #5b75fb;
}

.main-button.purple .icon {
    fill: #FFFFFF;
}

.datetimepicker {
    position: relative;
}

.datetimepicker .add-on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popover {
    border-color: #023047;
}

.popover-body {
    padding: 0 5px;
}

.popover .arrow::after {
    border-top-color: #023047;
}

.h-dropdown {
    position: relative;
    display: inline-block;
}

.h-dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0 6px 19px rgba(0, 0, 0, .2);
    z-index: 9;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}

.h-dropdown-content:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #FFFFFF;
    top: -9px;
    right: 10px;
}

.h-dropdown-content.no-arrow:after {
    content: none;
}

.h-dropdown-content a {
    color: #023047 !important;
    padding: 9px 14px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 19px;
    border-bottom: 1px solid rgba(2, 48, 71, .1);
    width: 100% !important;
}

.h-dropdown-content.no-arrow a {
    font-size: 12px;
    line-height: 14px;
}

.h-dropdown-content a.color-red {
    color: #F3031B !important;
}

.h-dropdown-content a:last-child {
    border: 0;
}

.h-dropdown-content a:hover {
    text-shadow: none !important;
    background: rgba(2, 48, 71, .1);
    border-color: transparent;
    font-family: 'Proxima Nova Rg', sans-serif !important;
}

.h-dropdown:hover .h-dropdown-content {
    display: block;
}


.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
    top: 50px !important;
}

.dropdown-menu-right {
    left: 100% !important;
    right: auto !important;
    transform: translate(-100%, 0) !important;
    top: 50px !important;
}

.dropdown .dropdown-menu-right.dropdown-menu:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 21px solid #FFFFFF;
    top: -21px;
    left: calc(100%);
    transform: translateX(calc(-100% - 10px));
}

.owl-carousel {
    cursor: pointer;
}

.custom-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-title h2 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.custom-title h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: #0077B6;
}

.page-link-nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.page-link-nav a {
    margin-right: 10px;
    color: #023047;
}

.page-link-nav a .icon {
    width: 7px;
    height: 7px;
    fill: #023047;
    margin-left: 10px;
}

.page-link-nav a:hover {
    color: #0081A7;
}

.purple .page-link-nav a:hover {
    color: #4866FC;
}

.page-link-nav a:hover .icon {
    fill: #0081A7;
}

.purple .page-link-nav a:hover .icon {
    fill: #4866FC;
}

.page-link-nav a:last-child {
    color: #0081A7;
}

.purple .page-link-nav a:last-child {
    color: #4866FC;
}

.darkblue .page-link-nav a:last-child {
    color: #007BFF;
}

.page-link-nav a:last-child .icon {
    display: none;
}

.sidebar {
    margin-bottom: 30px;
}

.sidebar .card {
    border: 0;
    box-shadow: none;
    margin-bottom: 20px;
}

.sidebar-title {
    border-bottom: 1px solid rgba(2, 48, 71, 0.05);
    padding: 13px 22px;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.sidebar .card-header {
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 22px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Proxima Nova Bo', sans-serif;
}

.sidebar .card-header .icon {
    width: 10px;
    height: 10px;
    fill: #023047;
    transition: all .25s;
}

.sidebar .card-header .d-flex a {
    font-size: 11px;
    font-family: 'Proxima Nova Rg', sans-serif;
    color: #023047;
    position: relative;
    padding-left: 10px;
    margin-left: 5px;
}

.sidebar .card-header .d-flex a:before {
    content: ">";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.sidebar .card-header[aria-expanded='true'] .icon {
    transform: rotate(-180deg);
}

.sidebar .card-body {
    max-height: 325px;
    overflow-y: auto;
}

.sidebar-custom-checkbox {
    position: relative;
    margin-bottom: 10px;
}

.sidebar-custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    appearance: none;
}

.sidebar-custom-checkbox label {
    margin-bottom: 0;
    padding-left: 30px;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: #023047;
}

.sidebar-custom-checkbox.without-check label {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-custom-checkbox.without-check span {
    color: #9AACB5;
}

.sidebar-custom-checkbox.without-check label h5 {
    transition: all .25s;
    font-size: 12px;
    line-height: 16px;
}

.sidebar-custom-checkbox.without-check:hover h5 {
    color: #4866FC;
}

.sidebar-custom-checkbox .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid rgba(2, 48, 71, .2);
}

.sidebar-custom-checkbox.square-black .checkmark {
    width: 11px;
    height: 11px;
    border-radius: 0;
    border: 1px solid #023047;
}

.sidebar-custom-checkbox.square-black label {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.sidebar-custom-checkbox.square .checkmark {
    border-radius: 0;
}

.sidebar-custom-checkbox:hover input ~ .checkmark {
    background-color: rgba(0, 129, 167, .5);
}

.sidebar-custom-checkbox.square-black:hover input ~ .checkmark {
    background: rgba(2, 48, 71, .5);
}

.sidebar-custom-checkbox input:checked ~ .checkmark {
    background-color: #0081A7;
}

.sidebar-custom-checkbox.square-black input:checked ~ .checkmark {
    background-color: #023047;
}

.sidebar-custom-checkbox.without-check input:checked ~ h5 {
    color: #4866FC;
}

.sidebar-custom-checkbox.blue:hover input ~ .checkmark {
    background-color: rgba(0, 123, 255, .5);
}

.sidebar-custom-checkbox.blue input:checked ~ .checkmark {
    background-color: rgba(0, 123, 255, 1);
}

.sidebar-custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.sidebar-input {
    width: 100%;
    position: relative;
}

.sidebar-input .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    stroke: #023047;
}

.sidebar-input input,
.sidebar-input select {
    border: 1px solid rgba(2, 48, 71, 0.2);
    font-size: 12px;
    height: 34px;
    width: 100%;
    padding: 0 10px;
    color: #023047;
    appearance: none;
}

.sidebar-input input::placeholder {
    color: #023047;
}

.sidebar-half-input input {
    border: 1px solid rgba(2, 48, 71, 0.2);
    font-size: 12px;
    height: 34px;
    width: 100%;
    padding: 0 10px;
    color: #023047;
}

.sidebar-half-input input::placeholder {
    color: #023047;
}

.sidebar-half-input {
    width: calc(50% - 10px);
}

.card.transparent,
.card-body.transparent,
.card-header.transparent {
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 0;
}

.small-form .custom-select-toggler,
.small-form .custom-input input,
.small-form .custom-input,
.small-form .datetimepicker,
.small-form .datetimepicker input {
    height: 45px;
}

.small-form .custom-input input:focus + .icon {
    fill: #007BFF;
}

.small-form .col,
.small-form .col-lg-1,
.small-form .col-lg-2,
.small-form .col-lg-3,
.small-form .col-lg-4,
.small-form .col-lg-7 {
    padding-left: 5px;
    padding-right: 5px;
}

.small-form .custom-selectbox,
.small-form .datetimepicker {
    width: 100%;
}

.rating {
    display: flex;
    align-items: center;
}

.rating .icon {
    width: 10px;
    height: 10px;
    fill: #023047;
    margin-right: 1px;
    cursor: pointer;
}

.rating.big .icon {
    width: 16px;
    height: 16px;
}

.rating.gray .icon {
    fill: rgba(2, 48, 71, .2);
}

.rating .icon.active {
    fill: #FFB703;
}

.rating.white .icon.active {
    fill: #FFFFFF;
}

.rating.white .icon {
    fill: #FFFFFF;
}

.rating.blue .icon {
    fill: #023047;
    width: 13px;
    height: 13px;
}

.rating.blue .icon.active {
    fill: #0081A7;
}

.rating h6 {
    margin-left: 6px;
}

.rating-bar {
    border: 1px solid rgba(2, 59, 80, .1);
}

.rating-bar .rating-bar-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-bar .d-flex:first-child {
    border-bottom: 1px solid rgba(2, 59, 80, .1);
}

.rating-bar .d-flex .rating-bar-box {
    border-right: 1px solid rgba(2, 59, 80, .1);
    transition: all .25s;
}

.rating-bar .d-flex .rating-bar-box:hover {
    background: rgba(2, 59, 80, .1);
    cursor: pointer;
}

.rating-bar .d-flex .rating-bar-box:last-child {
    border-right: 0;
}

.comment-list {
    max-height: 360px;
    overflow-y: auto;
}

.comment-box {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid rgba(2, 48, 71, .1);
}

.comment-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-user h4 {
    margin-right: 15px;
}

.comment-avatar img {
    width: 55px;
    height: 55px;
    min-width: 55px;
    min-height: 55px;
    border-radius: 50%;
    margin-right: 15px;
}

.more-comment {
    width: 100%;
    height: 54px;
    border: 1px solid rgba(2, 48, 71, .1);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-comment .icon {
    width: 12px;
    height: 12px;
    stroke: #023047;
    transition: all .3s;
}

.more-comment:hover,
.more-comment[aria-expanded='true'] {
    background: rgba(2, 48, 71, .1);
}

.more-comment[aria-expanded='true'] .icon {
    transform: rotate(-180deg);
}

.comment-form-input {
    position: relative;
}

.comment-form-input img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 8;
}

.comment-form-input textarea {
    border: 1px solid rgba(2, 48, 71, .1);
    box-shadow: none;
    resize: none;
    width: 100%;
    height: 150px;
    padding: 30px 150px 50px 90px;
    overflow: hidden;
    font-size: 14px;
    line-height: 19px;
    color: #023047;
}

.comment-form-input textarea::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: #023047;
}

.comment-form-input button {
    position: absolute;
    bottom: 8px;
    right: 0;
    max-width: 140px;
    height: 46px;
}

.pagination .page-item {
    margin-left: 5px;
}

.pagination .page-link {
    width: 42px;
    height: 42px;
    background: #FAFAFA;
    color: #023047;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border: 0;
    transition: all .25s;
}

.pagination .page-link:focus {
    box-shadow: none;
    outline: 0;
}

.pagination .prev .page-link,
.pagination .next .page-link {
    width: 22px;
    height: 42px;
}

.pagination .page-item.prev .icon {
    transform: rotate(180deg);
}

.pagination .page-link .icon {
    width: 10px;
    height: 10px;
    stroke: #023047;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
    background: #0081A7;
    color: #FFFFFF;
}

.pagination .page-item.active .page-link .icon,
.pagination .page-item:hover .page-link .icon {
    stroke: #FFFFFF;
}

.darkblue .pagination .page-link {
    background: #FFFFFF;
}

.darkblue .pagination .page-item.active .page-link,
.darkblue .pagination .page-item:hover .page-link {
    background: #007BFF;
    color: #FFFFFF;
}

.custom-number-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.custom-number-input input[type="number"]::-webkit-inner-spin-button,
.custom-number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-number-input input {
    width: 30px;
    border: 0;
    background: 0;
    box-shadow: none;
    text-align: center;
    margin: 0 10px;
}

.custom-number-input button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.custom-number-input button .icon {
    width: 18px;
    height: 18px;
    fill: #023047;
    transition: all .25s;
}

.custom-number-input button:hover .icon {
    fill: #0081A7;
}

.page-content {
    width: 100%;
}

.page-content-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;
}

.page-content-title .icon {
    width: 45px;
    height: 45px;
    fill: #0081A7;
    margin-right: 10px;
}

.white-box-sm .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 18px;
    fill: #0081A7;
}

.white-box-sm h5 {
    font-size: 14px;
    line-height: 17px;
    color: #011627;
    margin-bottom: 3px;
}

.white-box-sm h6 {
    font-size: 11px;
    line-height: 17px;
    color: rgba(1, 22, 39, .65);
}

.white-box-sm h4 {
    font-size: 16px;
    line-height: 17px;
    color: #0081A7;
    font-family: 'Proxima Nova Bo', sans-serif;
    margin-top: 5px;
}

.white-box-sm h3 {
    font-size: 18px;
    line-height: 17px;
    color: #011627;
    font-family: 'Proxima Nova Bo', sans-serif;
    margin-top: 10px;
}

.form-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.form-box label {
    font-size: 16px;
    line-height: 21px;
    color: #011627;
    white-space: nowrap;
}

.form-box input,
.form-box select,
.form-box textarea {
    border: 1px solid rgba(1, 22, 39, .1);
    background: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    color: #011627;
    height: 47px;
    width: 100%;
    padding: 0 20px;
    transition: all .3s;
}

.form-box textarea {
    height: auto;
    padding: 20px;
}

.form-box input:focus,
.form-box select:focus {
    border: 1px solid rgba(1, 22, 39, .3);
}

.checkbox-as-label {
    display: flex;
    align-items: center;
}

.checkbox-as-label .sidebar-custom-checkbox {
    line-height: 16px;
    margin-bottom: .5rem;
}

.delivery-location {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: all .25s;
}

.delivery-show {
    max-height: 100%;
    margin-bottom: 30px;
    overflow: visible;
}

.delivery-show.mt-15 {
    margin-top: 15px !important;
}

.companyFormItems {
    max-height: 0;
    overflow: hidden;
}

.companyFormItems.show {
    max-height: 100%;
    overflow: visible;
}

#map {
    width: 100%;
    height: 200px;
}

.page-subtitle {
    padding-bottom: 16px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(2, 48, 71, .05);
    position: relative;
}

.page-subtitle.purple {
    padding-bottom: 12px;
    margin-bottom: 20px;
}

.page-subtitle h4 {
    font-size: 22px;
    line-height: 30px;
    font-family: 'Proxima Nova Bo', sans-serif;
}

.page-subtitle.purple h4 {
    font-size: 16px;
    line-height: 19px;
}

.page-subtitle a {
    font-size: 14px;
    line-height: 19px;
    color: #007BFF;
}

.page-subtitle:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #007BFF;
    width: 110px;
    height: 3px;
    transform: translateY(50%);
}

.page-subtitle.purple:after {
    background: #4866FC;
}

.page-subcontent {
    width: 100%;
}


@media only screen and (max-width: 992px) {

    .small-form .custom-selectbox,
    .small-form .datetimepicker {
        margin-bottom: 15px;
    }

    .white-box-sm {
        width: calc(100% / 3 - 30px);
    }

    .rating-bar .d-flex .rating-bar-box {
        border-bottom: 1px solid rgba(2, 59, 80, .1);
    }

    .rating-bar .d-flex:last-child .rating-bar-box:last-child,
    .rating-bar .d-flex:first-child .rating-bar-box:last-child {
        border-bottom: 0;
    }

    .page-link-nav {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 660px) {
    .white-box-sm {
        width: calc(100% / 2 - 30px);
    }
}
