.company-details-subheader {
    height: 370px;
    position: relative;
    background-size: cover;
    background: url("../../images/bg/company-subheader-bg.png") 50% 50%;
    background-size: cover;
}

.company-logo-col {
    max-width: 270px;
    transform: translateY(-50%);
}

.company-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -90px;
}

.company-title .rating-value {
    display: flex;
    align-items: center;
}

.company-title .rating-value .icon {
    fill: #ED6912;
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.company-title h6 {
    position: relative;
    padding-right: 7px;
    margin-right: 7px;
}

.company-title h6:after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #023047;
}

.premium-badge {
    height: 49px;
    background: #ED0723;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.premium-badge .icon {
    width: 20px;
    height: 30px;
    fill: #FFFFFF;
    margin-right: 30px;
}

.premium-badge h6 {
    font-size: 16px;
    line-height: 21px;
    font-family: 'Proxima Nova Sb', sans-serif;
    color: #FFFFFF;
}

.company-side-buttons .empty-button {
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Proxima Nova Sb', sans-serif;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid rgba(2, 48, 71, .1);
}

.company-side-buttons .empty-button .icon-wrapper {
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #023047;
    margin-right: 14px;
}

.company-side-buttons .empty-button .icon-wrapper.yellow {
    background: #FFB300;
}


.company-side-buttons .empty-button .icon-wrapper.blue {
    background: #007BFF;
}

.company-side-buttons .empty-button .icon-wrapper.green {
    background: #05CC5B;
}

.company-side-buttons .empty-button .icon-wrapper.red {
    background: #ED0723;
}

.company-side-buttons .empty-button .icon-wrapper .icon {
    height: 21px;
    max-width: 30px;
    fill: #FFFFFF;
}

.company-side-buttons .empty-button .icon-wrapper .icon.heart {
    fill: none;
    stroke: #FFFFFF;
}

.company-side-buttons .empty-button .button-arrow {
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(2, 48, 71, .1);
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
}

.company-side-buttons .empty-button .button-arrow .icon {
    width: 10px;
    height: 10px;
    stroke: #023047;
    transition: all .3s;
}

.company-side-buttons .empty-button:hover .button-arrow {
    background: #023047;
}

.company-side-buttons .empty-button:hover .button-arrow .icon {
    stroke: #FFFFFF;
}

.company-socials {
    display: flex;
    align-items: center;
}

.company-socials a {
    display: flex;
    justify-content: center;
    flex: 1;
}

.company-socials a .icon {
    width: 24px;
    height: 24px;
    fill: #023047;
    transition: all .3s;
}

.company-socials a:hover .icon {
    fill: #007BFF;
}

.company-empty-table td {
    font-size: 12px;
    white-space: nowrap;
    padding: 8px 0;
}

.company-empty-table tr td:first-child {
    font-family: 'Proxima Nova Bo', sans-serif;
}

.company-empty-table tr td:last-child {
    padding-left: 5px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-empty-table tr td a {
    font-family: 'Proxima Nova Bo', sans-serif;
    color: #023047;
    transition: all .3s;
}

.company-empty-table tr td a:hover {
    color: #007BFF;
}

.company-details-map {
    height: 262px !important;
}

.company-details-container .last-added-box {
    width: calc(100% / 4 - 10px);
}

.company-details-container .last-added-box img {
    border-radius: 5px;
    margin-bottom: 8px;
}

.company-details-container .last-added-box h6 {
    font-size: 14px;
}

.company-details-container .last-added-box .icon {
    width: 16px;
    height: 16px;
}

.company-details-container .last-added-box .socials {
    display: flex;
    align-items: center;
}

.company-details-container .last-added-box .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #023047;
    border-radius: 4px;
    margin-right: 11px;
    transition: all .3s;
}

.company-details-container .last-added-box .socials a .icon {
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
    margin: 0;
}

.company-details-container .last-added-box .socials a:hover {
    background: #007BFF;
}

.company-gallery {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.company-gallery .gallery-image {
    width: calc(100% / 4 - 20px);
    margin: 10px 10px 20px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.company-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.company-gallery .gallery-image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.company-gallery .gallery-image:hover {
    transform: scale(1.05);
    transform-origin: center;
}

@media only screen and (max-width: 992px) {
    .company-details-container .last-added-box {
        width: calc(100% / 2 - 10px);
        margin-bottom: 20px;
    }
}
