.city-company-list .place .icon {
    width: 14px;
    height: 14px;
    fill: #007BFF;
    margin-right: 5px;
}

.city-company-list img {
    height: 230px;
    max-width: 205px;
}

.slider-category-box {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 22px rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 137px;
    justify-content: center;
    padding: 15px;
    text-align: center;
    transition: all .25s;
}

.slider-category-box .icon {
    width: 26px;
    height: 26px;
    fill: #023047;
    margin-bottom: 14px;
    transition: all .25s;
}

.slider-category-box h5 {
    margin-bottom: 9px;
    color: #023047;
    transition: all .25s;
}

.slider-category-box h6 {
    color: rgba(2, 48, 71, .2);
}

.slider-category-box:hover,
.slider-category-box.active {
    background: #007BFF;
}

.slider-category-box:hover .icon,
.slider-category-box.active .icon {
    fill: #FFFFFF;
}

.slider-category-box:hover h5,
.slider-category-box.active h5 {
    color: #FFFFFF;
}

.slider-category-box:hover h6,
.slider-category-box.active h6 {
    color: rgba(255, 255, 255, .2);
}

.owl-carousel-categories .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 100px);
    left: -50px;
    top: 50%;
    transform: translateY(calc(-50% + -10px));
    z-index: 1;
}
.owl-carousel-categories .owl-stage-outer{
    z-index: 2;
}
.owl-carousel-categories .owl-nav .owl-prev {
    transform: rotate(180deg);
}

.owl-carousel-categories .owl-nav .icon {
    width: 26px;
    height: 26px;
    fill: rgba(2, 48, 71, .2);
    transition: all .25s;
}

.owl-carousel-categories .owl-nav button:hover .icon {
    fill: #007BFF;
}

.popular-companies-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.popular-companies-box {
    background: #FFFFFF;
    cursor: pointer;
    margin-bottom: 30px;
}

.popular-companies-box:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.popular-companies-box .box-body {
    padding: 8px 15px;
}

.popular-companies-box img {
    width: 100%;
    height: 158px;
}

.popular-companies-box .rating-badge {
    width: 27px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFAA00;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    font-family: 'Proxima Nova Sb', sans-serif;
    margin-right: 4px;
}

.popular-companies-box .box-body {
    border-bottom: 1px solid rgba(2, 48, 71, .05);
}

.popular-companies-box .box-body .icon {
    width: 13px;
    height: 13px;
    fill: #023047;
    margin-right: 4px;
}

.popular-companies-box .box-body h4 {
    margin-bottom: 8px;
}

.popular-companies-box .box-body p {
    margin-top: 8px;
}

.popular-companies-box .box-body .rating-wrapper {
    border-right: 1px solid rgba(2, 48, 71, .05);
}

.popular-companies-box .box-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
}

.popular-companies-box .box-bottom h6 {
    font-size: 12px;
    line-height: 16px;
}

.popular-companies-box .box-bottom h6 .icon {
    width: 13px;
    height: 13px;
    fill: #007BFF;
    margin-right: 5px;
}

.popular-companies-box .box-bottom .box-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-companies-box .box-bottom .box-socials .icon {
    width: 21px;
    height: 21px;
    fill: rgba(2, 48, 71, .5);
    margin-left: 6px;
    transition: all .25s;
}

.popular-companies-box .box-bottom .box-socials a:hover .icon {
    fill: #007BFF;
}

.owl-carousel-company-banners .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.owl-carousel-company-banners .owl-dots .owl-dot {
    width: 9px;
    height: 9px;
    background: rgba(2, 48, 71, .1);
    border-radius: 50%;
    margin-right: 5px;
}

.owl-carousel-company-banners .owl-dots .owl-dot.active,
.owl-carousel-company-banners .owl-dots .owl-dot:hover {
    background: #007BFF;
}

.owl-carousel-company-banners .banner-box {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.owl-carousel-company-banners .banner-text {
    font-family: "Gilroy Bold", sans-serif;
    padding: 15px 20px;
}

.owl-carousel-company-banners .banner-text h2 {
    font-size: 35px;
    line-height: 37px;
}

.owl-carousel-company-banners .banner-text h3 {
    font-size: 34px;
    line-height: 37px;
}

.owl-carousel-company-banners .banner-text h4 {
    font-size: 27px;
    line-height: 37px;
}

.owl-carousel-company-banners .banner-text h5 {
    font-size: 22px;
    line-height: 37px;
}

.owl-carousel-company-banners .banner-text h6 {
    font-size: 12px;
    line-height: 37px;
}

.last-added-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.last-added-box {
    margin: 5px;
    width: calc(100% / 5 - 10px);
    position: relative;
    cursor: pointer;
}

.last-added-box .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #FFFFFF;
    z-index: 1;
    transition: all .3s;
}

.last-added-box:hover .bg {
    height: 100%;
}

.last-added-box .box-body {
    padding: 24px;
    position: relative;
    z-index: 2;
}

.last-added-box .box-body img {
    width: 100%;
    height: 135px;
    margin-bottom: 10px;
}

.last-added-box h4 {
    margin-bottom: 10px;
}

.last-added-box h6 {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.last-added-box .icon {
    width: 13px;
    height: 13px;
    fill: #007BFF;
    margin-right: 5px;
}

.last-added-box .rating h6 {
    margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
    .city-company-list h4 {
        text-align: center;
    }

    .last-added-box {
        width: calc(100% / 4 - 10px);
    }
}

@media only screen and (max-width: 992px) {
    .popular-companies-list .col-lg-3 {
        width: 50%;
    }

    .popular-companies-list .col-lg-3 .box-bottom h6 {
        white-space: nowrap;
    }

    .last-added-box {
        width: calc(100% / 3 - 10px);
    }
}

@media only screen and (max-width: 768px) {
    .last-added-box {
        width: calc(100% / 2 - 10px);
    }
}

@media only screen and (max-width: 600px) {
    .popular-companies-list .col-lg-3 {
        width: 100%;
    }

    .last-added-box {
        width: 100%;
    }
}
