.rent-form h4 {
    margin-bottom: 12px;
}

.rent-form-row {
    position: relative;
    cursor: pointer;
}

.rent-form-row.half {
    width: calc(50% - 10px);
}

.rent-form-row .datetimepicker {
    height: 34px;
}

.rent-form-row input {
    position: absolute;
    width: 100%;
    background: transparent;
    border: 0;
    height: 34px;
    padding-left: 40px;
    font-size: 14px;
    color: #023047;
    border-bottom: 1px solid rgba(2, 48, 71, .1);
}

.popular-car-list .white-box {
    cursor: pointer;
    align-items: center;
    margin-bottom: 16px;
}

.popular-car-list .col-md-4 {
    padding-left: 8px;
    padding-right: 8px;
}

.popular-car-list img {
    max-width: 250px;
}

.popular-car-list .car-price {
    width: 100%;
}

.rent-brands {
    padding-top: 40px;
}

.rent-brands .item {
    border-right: 1px solid rgba(2, 48, 71, .2);
    padding: 0 25px;
}

.rent-brands .item .icon {
    height: 23px;
    max-width: 100px;
    fill: rgba(2, 48, 71, .2);
    transition: all .25s;
}

.rent-brands .item:hover .icon {
    fill: #0081A7;
}

.four-step .icon.half-circle {
    width: 95px;
    height: 18px;
    stroke: rgba(2, 48, 71, .2);
    transition: all .2s;
}

.seperator {
    padding-top: 20px;
}

.seperator.down .icon {
    transform: rotate(180deg);
    transform-origin: bottom center;
}

.four-step .col {
    margin-bottom: 15px;
}

.four-step .col:hover + .seperator .icon {
    stroke: #0077B6;
}

.four-step .col:hover .step-box-icon {
    background: #0081A7;
}

.four-step .col:hover .step-box-icon .icon {
    fill: #FFFFFF;
}

.step-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.step-box h5 {
    text-align: center;
}

.step-box p {
    text-align: center;
}

.step-box .step-box-icon {
    width: 97px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

.step-box .step-box-icon .icon {
    width: 38px;
    height: 38px;
    fill: #023047;
}

#popularCarsTab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
}

#popularCarsTab .icon {
    height: 20px;
    max-width: 40px;
    margin-right: 5px;
}

#popularCarsTab .nav-item {
    width: calc(100% / 6 - 10px);
}

#popularCarsTab .nav-link {
    background: #FFFFFF;
    box-shadow: 0 3px 22px rgba(0, 0, 0, .05);
    border-radius: 0;
    font-size: 16px;
    line-height: 21px;
    color: #023047;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}

#popularCarsTab .nav-link:hover,
#popularCarsTab .nav-link.active {
    background: #0081A7;
    color: #FFFFFF;
    font-family: 'Proxima Nova Sb', sans-serif;
}

#popularCarsTab .tab-navigation {
    position: absolute;
}

#popularCarsTab .tab-navigation .icon {
    width: 26px;
    height: 26px;
    fill: rgba(2, 48, 71, .3);
    transition: all .25s;
}

#popularCarsTab .tab-navigation.prev {
    left: -50px;
}

#popularCarsTab .tab-navigation.next {
    right: -50px;
}

#popularCarsTab .tab-navigation:hover .icon {
    fill: #0077B6;
}

.banner-box {
    display: flex;
    height: 192px;
}

.banner-box.banner-white {
    border: 1px solid rgba(2, 48, 71, .1);
    background: #FFFFFF;
}

.banner-box.banner-blue {
    border: 1px solid #0081A7;
    background: #0081A7;
}

.banner-box .banner-text {
    padding: 16px 30px;
    white-space: nowrap;
}

.banner-box .banner-image {
    position: relative;
}

.banner-box .banner-image img {
    position: absolute;
    top: 50%;
    right: -2px;
    width: 100%;
    transform: translateY(-50%);
}

.owl-carousel-banners .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
    display: flex;
    align-items: center;
}

.owl-carousel-banners .owl-nav button {
    display: flex;
    align-items: center;
}

.owl-carousel-banners .owl-nav button.owl-next {
    margin-left: 15px;
}

.owl-carousel-banners .owl-nav .icon {
    width: 26px;
    height: 26px;
    fill: rgba(2, 48, 71, .3);
    transition: all .25s;
}

.owl-carousel-banners .owl-nav .line {
    width: 0;
    height: 2px;
    background: #0077B6;
    transition: all .25s;
}

.owl-carousel-banners .owl-nav button:hover .line {
    width: 70px;
}

.owl-carousel-banners .owl-nav button:hover .icon {
    fill: #0077B6;
}

.owl-carousel-banners .owl-nav button.owl-prev .line {
    margin-left: -1px;
}

.company-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.company-list a img {
    max-width: 174px;
}

@media only screen and (max-width: 1024px) {
    .rent-popular {
        padding-left: 15px !important;
    }

    .rent-form {
        margin-bottom: 30px;
    }

    .seperator {
        display: none;
    }

    .four-step .col {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .step-box h5 {
        font-size: 14px !important;
    }

    #popularCarsTab {
        margin-top: 80px;
    }

    #popularCarsTab .nav-item {
        width: calc(100% / 3 - 5px);
        margin-bottom: 15px;
    }

    #popularCarsTab .icon {
        min-width: 20px;
    }

    #popularCarsTab .nav-link {
        font-size: 12px;
    }

    #popularCarsTab .tab-navigation {
        top: -50px;
    }

    #popularCarsTab .tab-navigation.prev {
        left: auto;
        right: 50px;
    }

    #popularCarsTab .tab-navigation.next {
        left: auto;
        right: 0;
    }

    .popular-car-list .col-md-3 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

@media only screen and (min-width: 1024px) {
    .four-step .col {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .popular-car-list .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
